* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CHLORINP";
    src: url('/fonts/chlorinap/CHLORINP.TTF');
}

body{
    color: green;
    font-family: 'CHLORINP', sans-serif;
    background-image: url("Image/yoshi-bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

p {
    color:green;
}

button{
    margin-top: 15px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
}



.gameover{
    background-color: green;
    color: orangered;
    text-shadow: 1px 1px 3px black;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 45px;
    margin-top: 150px;
    display: none;
}

#player{
    margin-top: 10px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.525);
}

.gaming-bord {
    width: 800px;
    height: 500px;
    border-bottom: 15px solid rgb(28, 200, 65);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(87, 179, 222), #E0F6ff);
}

.placar {
    color: white;
    font-size: 35px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.600);
}

.Pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 1.5s infinite linear;
    
}

.Yoshi {
    position: absolute;
    bottom: 0px;
    width: 125px;
    
}

.Cloud {
    position: absolute;
    width: 400px;
    animation: Cloud 20s infinite linear;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes pipe-animation {
    from {
        right: -70px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    
    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }


}

@keyframes Cloud {
    from {
        right: -300px;
    }

    to {
        right: 100%;
    }
}